.product-item-wrap {
  padding: 15px;
}

.mobile-menu {
  background-color: $white;
  z-index: 40;
  left: -100%;
  right: 0;
  transition: $hover-transition;
  overflow-y: auto !important;
  bottom: 0;
  top: 0;
  span, .login {
    font-weight: 600;
    color: $black;
    a, span {
      color: $black;
      font-weight: 600;
      letter-spacing: .1rem;
    }
  }
  .login {
    padding: 40px 0;

  }
}

.catalog-mobile-menu-open .catalog-menu {
  max-height: 840px;
}

.catalog-menu-item-text {
  font-weight: 500;
  font-size: .8rem;
}

.language-mobile-wrap {
  padding: 40px 0;
}

.language-mobile {
  border: 1px solid $light-gray;
  border-radius: 8px;
  .language-list-item {
    padding: 30px;
    &:active {
      background-color: $light-gray;
    }
  }
}

.mobile-menu-item {
  padding: 40px 0;
  display: block;
  border-bottom: 1px solid $sub-menu-border-color;
}

.search-mobile {
  display: none;
  padding: 40px 0;
  z-index: 42;
  background-color: $header-login-background-color;
  margin-top: -5px;
  .search-button {
    background-color: $yellow;
    font-weight: 600;
    border: 1px solid $light-gray;
  }
}

.mobile-menu-item-wrap {
  padding: 0 100px;
}

.open-menu {
  left: 0;
  transition: $hover-transition;
}

.scroll-disable {
  overflow: hidden;
}

.price-icon-compare {
  font-size: 60px;
}

.to-basket {
  padding: 40px 0;
}

.image-wrap {
  height: 400px;
}

.mobile-purchases-icon {
  font-size: 1rem;
  color: $white;
}

.mobile-phone-wrap {
  span {
    font-size: .56rem;
  }
}

.mobile-phone {
  color: $black;
  font-size: .9rem;
  margin: 0;
}

  html{
    font-size: 40px;
  }

  .footer-nav-menu {
    padding-left: 0;
  }

  .subscribe {
    p {
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }

  .subscribe-btn {
    padding: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .subscribe-input {
    padding: 30px 5px;
  }

  .social-icon-footer {
    font-size: 60px;
  }

  .social-icon-footer-wrap {
    width: 120px;
    height: 120px;
  }

  .paragraph-wrap p {
    font-size: .7rem;
    color: $black;
    font-weight: 500;
    line-height: 1.2rem;
  }

  .article-title-wrap h3 {
    font-size: 1.2rem;
  }

  .detailed-button-wrap {
    display: none;
  }

  .first-slider {
    .owl-dots {
      position: absolute;
      bottom: 0;
      .owl-dot {
        span {
          border: 1px solid $light-gray;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .first-slider .owl-dots {
    position: relative;
  }


  .navbar-nav {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $white;

  }

  .top-nav-wrap {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .login-top-bar {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo-description {
    font-size: .5rem;
  }

.icon-play {
  height: 150px;
  width: 150px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    margin-left: 20px;
  }
}

//HAMBURGER----------------------------
.nav-icon {
  width: 66px;
  margin-right: 18px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: $catalog-font-color;
  border-radius: 3px;
  content: '';
  display: block;
  height: 6px;
  transition: all .2s ease-in-out;
}
.nav-icon div {
  margin: 15px 0;
}


.catalog-button-wrap-open .nav-icon:before {
  transform: translateY(21px) rotate(135deg);
}

.catalog-button-wrap-open .nav-icon:after {
  transform: translateY(-21px) rotate(-135deg);
}

.catalog-button-wrap-open .nav-icon div {
  transform: scale(0);
}

.catalog-button-mobile-wrap {
  background-color: $yellow;
}

///////////////////////////////////////////////


@media screen and (min-width: 992px) {
  html{
    font-size: 13px;
  }

  section {
    overflow: initial;
  }

  .catalog-product-item-wrap {
    border-left: transparent;
    margin: 0;
    &:hover {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
      transition: $hover-transition;
      .catalog-product-item-title {
        color: $red-hover-color;
        transition: $hover-transition;
      }
    }
    &:nth-child(-4n+5) {
      border: $product-item-border;
    }
    &:nth-child(n+5) {
      border-top: transparent;
    }
    .catalog-product-item-title {
      padding: 10px 0 0;
    }
  }

  .catalog-menu-item-text {
    font-size: 1rem;
    font-weight: 600;
  }

  .icon-play {
    height: 56px;
    width: 56px;
    font-size: 30px;

    &:before {
      margin-left: 6px;
    }
  }

  .catalog-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    width: 23%;
  }

  .to-basket {
    padding: 15px 0;
  }

  .price-icon-compare {
    font-size: 17px;
  }

  .article-title-wrap h3 {
    font-size: 1.6667rem;
  }

  .main-description-title h1 {
    font-size: 1.3333rem;
  }

  .paragraph-wrap p {
    font-size: 1rem;
    color: $light-gray;
    font-weight: 500;
    line-height: 30px;
  }

  .logo-description {
    font-size: .8rem;
  }


  .navbar-nav {
    padding: 0;
  }

  .hot {
    padding: 4px 6px;
  }

  .second-slider {

    .owl-item {
      &:hover {
        .fast-buy-wrap {
          bottom: -60px;
        }
      }
    }

    .fast-buy-wrap {
      padding: 0 15px 15px;
    }
  }

  .login-img {
    display: none;
  }

  .phone-wrap {
    padding: 0;
  }

  .login {
    padding-right: 15px;
  }

  .compare-wrap {
    margin: 0 10px;
  }

  .catalog-menu-icon {
    font-size: 24px;
  }

  .catalog-menu-item-text {
    min-height: 40px;
  }

  .top-nav-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .catalog-button {
    padding: 18px 0 18px 20px;
  }


  .additional-guarantee {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .login-top-bar {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .header-icon-compare, .header-icon-basket {
    font-size: 18px;
  }

  .footer-nav-menu {
    padding-left: 10px;
  }

  .subscribe {
    p {
      font-size: 1.3333rem;
      line-height: 24px;
    }
  }

  .subscribe-input {
    padding: 15px 5px;
  }

  .subscribe-btn {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 34px;
  }

  .social-icon-footer {
    font-size: 26px;
  }

  .social-icon-footer-wrap {
    width: 50px;
    height: 50px;
  }

  .first-slider {
    .owl-dots {
      position: absolute;
      bottom: 20px;
      .owl-dot {
        span {
          border: 1px solid $white;
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .lg-icon-search {
    font-size: 20px;
  }

  .image-wrap {
   height: 165px;
  }

  .invalid-mail, .empty-mail {
    .subscribe-input-wrap, .login-input-wrap {
      &:after {
        //top: -25px;
        top: -20px;
      }
    }
  }

  //HAMBURGER----------------------------

  .nav-icon {
    width: 22px;
    margin-right: 18px;
  }

  .nav-icon:after,
  .nav-icon:before,
  .nav-icon div {
    background-color: $catalog-font-color;
    border-radius: 3px;
    content: '';
    display: block;
    height: 2px;
    transition: all .2s ease-in-out;
  }
  .nav-icon div {
    margin: 5px 0;
  }

  .catalog-button-wrap:hover .nav-icon:before {
    transform: translateY(7px) rotate(135deg);
  }

  .catalog-button-wrap:hover .nav-icon:after {
    transform: translateY(-7px) rotate(-135deg);
  }

  .catalog-button-wrap:hover .nav-icon div {
    transform: scale(0);
  }
}

@media screen and (min-width: 1200px) {
  html{
    font-size: 15px;
  }

  .detailed-button-wrap {
    display: block;
  }

  .header-icon-compare, .header-icon-basket {
    font-size: 26px;
  }

  .login-top-bar {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .additional-guarantee {
    padding-top: 15px;
    padding-bottom: 15px;
  }


  .top-nav-wrap {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .catalog-menu-item-text {
    min-height: 50px;
  }

  .catalog-menu-icon {
    font-size: 30px;
  }

  .compare-wrap {
    margin: 0 26px;
  }

  .navbar-nav {
    padding: 0 15px;
  }

  .login {
    padding-right: 30px;
  }

  .login-img {
    display: inline;
  }

  .product-item-wrap {
    padding: 30px;
  }

  .hot {
    padding: 10px 18px;
  }

  .second-slider {

    .owl-item {
      &:hover {
        .fast-buy-wrap {
          bottom: -64px;
        }
      }
    }

    .fast-buy-wrap {
      padding: 0 30px 30px;
    }
  }

  .phone-wrap {
    padding: 0 15px;
  }

  .invalid-mail, .empty-mail {
    .subscribe-input-wrap, .login-input-wrap {
      &:after {
        top: -25px;
      }
    }
  }
}

#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $yellow;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

